# Dependencies
node_modules/

# Build output
dist/

# Firebase
.firebase/

# Logs
*.log

# Environment
.env
.env.local
.env.*.local

# Android
android/app/build/
android/.gradle/
android/app/google-services.json
android/app/release-keystore.jks

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db
pwa/node_modules/
pwa/.astro/
pwa/dist/
