# Dependencies
node_modules/

# Build output
dist/

# Firebase
.firebase/

# Logs
*.log

# Environment
.env
.env.local
.env.*.local

# Android
android/app/build/
android/.gradle/
android/app/google-services.json

# Functions build output
functions/lib/

# Admin
admin/node_modules/
admin/.astro/
admin/dist/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db
pwa/node_modules/
pwa/.astro/
pwa/dist/
