# Dependencies
node_modules/

# Build output
dist/

# Firebase
.firebase/

# Logs
*.log

# Environment
.env
.env.local
.env.*.local

# Android
android/app/build/
android/.gradle/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db
